<main>
	<div id ="leftMain" >
	Trending 
	</div>
















	<div id="middleMain">


<div class ="createQuestion">
	<%= form_for @question, remote: true do |f| %>

<br>
<%= f.text_area :content %>  <br>


<%= f.label "Ask anonymous" %> 
<%= f.check_box :anonymous, {}, true, false %> 
&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= f.submit  %>

<% end %>
</div>


<%  @questions.each do |question| 
	%>







<div class ="question">


<!-- picture ka kaam
 -->
 <div class="left">
<div class="userImage">
			
<% if question.User.profile_picture %>
	<img src="/uploads/<%=question.User.profile_picture %>">
<% end %>

		</div>
	</div>




<% if question.anonymous %>
Anonymous 
<% else %>
<%= question.User.email %>
<% end %>

asked
  
<%= question.content %>

<%= form_for @answer, remote: true do |f| %>

<%= f.text_area :content %>  <br>
<input type="hidden" name="questionId" value="<%= question.id %>">
<%= f.submit  %>
<% end %>

<%= link_to 'Upvote', url_for(controller: 'upvote_questions', action: 'toggle_upvote', question_id: question.id), method: :post %>
<br>



<% particulars=@answers.where(:question_id => question.id) %>

<% particulars.each do |answer| %>
<%= answer.User.email %>
answered
<%= answer.content %>
<%= link_to 'Upvote', url_for(controller: 'upvote_answers', action: 'toggle_upvote', answer_id: answer.id), method: :post %>
<br>

<% end %>

</div>
	<% end %>
	



























	</div>
























	<div id ="rightMain">
	</div>





















</main>
